@import '../../components/styles/variables.css';
@import '../../components/styles/elements.css';

.form {
  display: none;
  position: relative;
}

.isActive {
  display: block;
}

.formSection {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 0 40px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: #a6a6a6;
  line-height: 1.5em;
  text-align: center;
}

.registrationCheckbox {
  width: 320px;

  label {
    white-space: nowrap;
    font-size: 0.75em;
  }
}

.button {
  composes: baseBtn;
  margin: 0 auto;
  color: #777;
  text-align: center;
  border: solid 1px #666;
  pointer-events: none;
}

.buttonIsActive {
  pointer-events: all;
  color: #fff;
  border-color: #fff;
  background-color: none;
}

.termsCheckbox {
  width: 320px;
  color: #a6a6a6;

  a {
    color: #a6a6a6;
    border-bottom: #a6a6a6 solid 1px;

    &:hover {
      border-bottom: transparent solid 1px;
    }
  }

  label {
    color: #a6a6a6;
  }
}

.isDarkColored {
  .title {
    color: #111;
  }

  .button {
    &:hover {
      color: #fff;
      background-color: var(--blue-color);
    }
  }

  .buttonIsActive {
    color: var(--blue-color);
    border-color: var(--blue-color);
  }
}
