@import '../../../../components/styles/variables.css';
@import '../../../../components/styles/elements.css';

.root {
  position: relative;
  text-align: center;

  input {
    display: block;
    width: 240px;
    margin: 0 20px;
    font-size: 0.875em;
    border: solid 1px #a6a6a6;

    &:hover {
      border: solid 1px #111;
    }

    &:focus {
      border: solid 1px #111;
    }
  }
}

.inputIsError {
  color: #e89091;
  border: solid 1px #e89091;
}

.inputPrice {
  padding-left: 35px;
  background: url('/images/rub.svg') no-repeat 20px 23px;
}

.label {
  position: relative;
  margin: 0 0 20px;
  color: #a6a6a6;
  font-size: 0.875em;
}

.form {
  position: relative;
  margin: 0 0 40px;
}

.formInlineSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  composes: baseBtn;
  margin: 0;
  padding: 0 35px;
  color: #a6a6a6;
  font-size: 0.875em;
  border: solid 1px #a6a6a6;
  pointer-events: none;

  &:hover {
    color: #fff;
    border: var(--green-color) solid 1px;
    background-color: var(--green-color);

    .buttonIcon * {
      stroke: #fff;
    }
  }
}

.buttonIsActive {
  color: var(--green-color);
  border: var(--green-color) solid 1px;
  pointer-events: all;

  .buttonIcon * {
    stroke: var(--green-color);
  }
}

.buttonIcon {
  margin: -3px 0 0 10px;

  * {
    stroke: #a6a6a6;
    transition: all 0.1s ease-out;
  }
}

.content {
  max-width: 440px;
  margin: 0 auto 40px;
  font-size: 0.75em;
  color: #a6a6a6;
  line-height: 1.5em;

  a {
    color: #a6a6a6;
    border-bottom: solid 1px #b6b6b6;

    &:hover {
      color: #111;
      border-bottom-color: #212121;
    }
  }

  p {
    margin: 0 0 30px;
    padding: 0;
  }
}

.paymentTypeIcon {
  margin: 0 0 25px;
}

.paymentServices {
  margin: 0 0 35px;

  img {
    height: 30px;
    margin: 0 20px 0 0;
  }
}

@media (--small-viewport) {
  .root {
    input {
      margin: 0 0 10px;
      font-size: 16px;
    }
  }

  .form {
    margin: 0 0 15px;
  }

  .formInlineSection {
    flex-direction: column;
  }

  .inputPrice {
    padding: 20px;
    background: none;
  }

  .content {
    padding: 0 20px;
    margin: 0 0 15px;
  }

  .button {
    margin: 0 0 25px;
  }
}
