@import '../../styles/variables.css';

.root {
  position: relative;
  max-width: 960px;
  padding: 60px 70px;
}

.header {
  position: relative;
  margin: 0 0 40px;
}

.title {
  color: #191919;
  font-size: 1.25em;
  font-family: var(--font-family-bold);
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5em;
}

.closeBtn {
  display: flex;
  position: absolute;
  top: -30px;
  right: -40px;
  color: #191919;
  font-size: 3em;
  line-height: 0.875em;
  cursor: pointer;
  z-index: 10;
}

@media (--small-viewport) {
  .root {
    max-width: 300px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .header {
    margin: 0 0 10px;
  }

  .title {
    margin: 0;
    font-size: 1em;
    line-height: 1.25em;
  }
}
