@import '../styles/variables.css';

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  color: #a6a6a6;
  text-align: center;
  text-transform: uppercase;
}

.social {
  position: relative;
  max-width: 320px;
  margin-right: 95px;
  box-sizing: border-box;
}

.socialButtons {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 20px;
  border: solid 1px #666;
  border-radius: 50%;
  transition: all 0.1s ease;
  cursor: pointer;

  &:hover {
    border: solid 1px #fff;
    background-color: #fff;

    svg * { fill: #111; }
  }
}

.socialIcon {
  line-height: 0;

  svg {
    width: 25px;

    * {
      transition: all 0.1s ease;
      fill: #888;
    }
  }
}

.socialText {
  position: relative;
  margin-top: 40px;
  color: #777;
  font-size: 0.75em;
  line-height: 1.5em;
}

.isDarkColored {
  .socialButton {
    border: solid 1px #888;

    &:hover {
      border: solid 1px var(--blue-color);
      background-color: var(--blue-color);

      svg * { fill: #fff; }
    }
  }

  .socialIcon {
    line-height: 0;

    svg {
      * {
        fill: #777;
      }
    }
  }
}

@media (--small-viewport) {
  .subtitle {
    margin: 0 0 10px;
    font-size: 0.875em;
  }

  .social {
    position: relative;
    max-width: 100%;
    margin: 20px 0 0;
  }

  .socialText {
    display: none;
    padding: 0 20px;
    margin: 10px 0;
    text-align: center;
  }

  .socialButton {
    width: 45px;
    height: 45px;
    margin: 0 15px;
  }

  .socialIcon {
    svg {
      width: 22px;
    }
  }
}
