.baseBtn {
  display: inline-block;
  margin: 10px 20px 10px 0;
  height: 50px;
  padding: 0 40px;
  line-height: 50px;
  text-transform: uppercase;
  border: solid 1px #ccc;
  border-radius: 25px;
  box-sizing: border-box;
  transition: all 0.1s ease-out;
  user-select: none;
  cursor: pointer;

  &:hover {
    color: #111;
    background-color: #fff;
    border: solid 1px #fff;
  }
}
