:root {
  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;
  --header-height: 60px;
  --header-mobile-height: 45px;
  --mobile-panel-height: 48px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px;  /* Extra small screen / phone */
  --screen-sm-min: 768px;  /* Small screen / tablet */
  --screen-md-min: 992px;  /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */

  @custom-media --small-viewport (max-width: 600px);

  /*
 * Colors
 * ========================================================================== */

  --white-base: hsl(255, 255, 255);
  --gray-darker: color(black lightness(+13.5%)); /* #222 */
  --gray-dark: color(black lightness(+25%));   /* #404040 */
  --gray: color(black lightness(+33.5%)); /* #555 */
  --gray-light: color(black lightness(+46.7%)); /* #777 */
  --gray-lighter: color(black lightness(+93.5%)); /* #eee */

  --font-color: #222;
  --body-color: #fff;
  --header-color: #191919;
  --footer-color: #191919;
  --link-color: #0c13a2;
  --lobby-switcher-color: #191919;
  --blue-color: #0069ea;
  --green-color: #4dcc65;
  --red-color: #ed1b17;
  --orange-color: #fe961b;

  /*
   * Typography
   * ========================================================================== */

  --font-family-light: 'ProximaNova-Light', Helvetica, Arial, sans-serif;
  --font-family-base: 'ProximaNova-Regular', Helvetica, Arial, sans-serif;
  --font-family-bold: 'ProximaNova-Bold', Helvetica, Arial, sans-serif;

  /*
   * Animations
   * ========================================================================== */

  --animation-swift-out: 0.45s cubic-bezier(0.3, 1, 0.4, 1) 0s;
}
