/***** Select tournaments *****/

.selectTournament {
	height: 270px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@media all and (min-width: 769px) {
		background-image: url(../images/selectTournamentBg.jpg);
	}
	@media all and (max-width: 768px) {
		background-image: url(../images/selectTournamentBg-mob.jpg);
	}	

	.selectButton {
		@include setButton;
		background: linear-gradient(to right, $elements-color, #e16f1a);
		border: none;
		color: $basic-color;
		position: relative;
		z-index: 3;

		&::after {
			content: '';
			width: 100%;
			height: 100%;
			border-radius: 50px/50px;
			position: absolute;
			left: 0px;
			top: 0px;
			background: linear-gradient(to right, #e16f1a, #fead00);
			z-index: -1;
			opacity: 0;
			transition: opacity 0.1s;
		}

		&:hover::after {
			opacity: 1;
		}
	}

}

/***** Select tournaments end *****/