@import '../../../../components/styles/variables.css';

.root {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 40px 0 40px -10px rgba(0, 0, 0, 0.1);
  transition: all 0.55s ease-out;
  transform: translate3d(-150%, 0, 0);
  z-index: 2;
}

.isActive {
  transform: translate3d(0, 0, 0);
}

.isNotFit {
  color: orange;
}

.header {
  flex-shrink: 0;
  position: relative;
}

.headerSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 74px;
  padding: 0 20px;
  box-sizing: border-box;
}

.headerTitle {
  display: flex;
  align-items: center;
  width: 90%;
}

.headerClose {
  position: relative;
  margin-top: -2px;
}

.headerTeamName {
  width: 70%;
  font-size: 1.125em;
  color: #111;
  font-family: var(--font-family-bold);
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dismissBtn {
  margin-right: 20px;
  cursor: pointer;
}

.headerTeamScore {
  color: #777;
  font-size: 0.875em;
  text-align: center;
  white-space: nowrap;
}

.headerTeamPlace {
  margin: 0 5px 0 20px;
  color: #777;
  font-size: 0.875em;
  text-align: center;
  white-space: nowrap;
}

.headerTeamAchievements {
  display: flex;
  align-items: center;
  margin: -2px 0 0 5px;

  img {
    width: 18px;
    height: 18px;
    margin-left: 5px;
  }
}

.headerTeamDelete {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: 2px;
  color: var(--red-color);
  font-size: 1.375em;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--red-color);
  transition: all 0.1s ease-out;
  cursor: pointer;

  &:hover {
    background-color: var(--red-color);

    svg path {
      stroke: #fff;
    }
  }

  svg path {
    stroke: var(--red-color);
  }
}

.subheader {
  position: relative;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 20px 0 40px;
  font-size: 0.75em;
  color: #969696;
  text-transform: uppercase;
  background-color: #f9f9f9;
  box-sizing: border-box;
  box-shadow: 0 1px 0 0 #e9e9e9, 0 1px 0 0 #e9e9e9 inset;
}

.subheaderAlert {
  color: #ff8400;
}

.tableHeader {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 20px 0 40px;
  font-size: 0.625em;
  color: #969696;
  text-transform: uppercase;
  box-sizing: border-box;
  box-shadow: 0 1px 0 0 #e9e9e9, 0 1px 0 0 #e9e9e9 inset;
}

.tableHeaderItem {
  flex: none;
  position: relative;
  padding-right: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.tableHeaderPosition {
  composes: tableHeaderItem;
  width: 10%;
}

.tableHeaderName {
  composes: tableHeaderItem;
  width: 35%;
}

.tableHeaderClub {
  composes: tableHeaderItem;
  width: 30%;
}

.tableHeaderScore {
  composes: tableHeaderItem;
  width: 25%;
  text-align: center;
}

.tableHeaderControls {
  composes: tableHeaderItem;
  width: 0;
}

.players {
  padding-bottom: 20px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transform: translateZ(0);
}

.playersTitle {
  position: relative;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 20px 0 40px;
  font-size: 0.75em;
  color: #969696;
  text-transform: uppercase;
  background-color: #f9f9f9;
  box-sizing: border-box;
  box-shadow: 0 1px 0 0 #e9e9e9, 0 1px 0 0 #e9e9e9 inset;
}

.player {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  padding: 0 20px 0 40px;
  font-size: 0.875em;
  cursor: pointer;

  &:hover {
    background-color: #f3f3f3;

    .playerNameLabel {
      color: var(--blue-color);
    }
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 0;
    height: 1px;
    box-shadow: 0 1px 0 0 #e9e9e9;
  }
}

.playerUniformImg {
  flex: none;
  height: 24px;
  margin-right: 10px;
}

.playerItem {
  flex: none;
  position: relative;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.playerPosition {
  composes: playerItem;
  width: 10%;
  color: #969696;
}

.playerName {
  composes: playerItem;
  display: flex;
  align-items: center;
  width: 35%;
}

.playerNameLabel {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.invalidPlayerNameLabel {
  composes: playerNameLabel;
  color: #ff8400;
}

.playerAchievements {
  display: flex;
  align-items: center;
  margin: 0 0 0 5px;

  svg {
    margin: 0 5px;
  }
}

.playerClub {
  composes: playerItem;
  width: 30%;
  color: #969696;
}

.playerScore {
  composes: playerItem;
  width: 25%;
  text-align: center;
}

.playerControls {
  composes: playerItem;
  width: 0;
}

.statsGraph {
  position: relative;
  margin-right: 7px;
  height: 50px;
}

@media (--small-viewport) {
  .root {
    position: fixed;
    height: calc(100% - var(--mobile-panel-height));
    z-index: 11;
  }

  .headerSection {
    height: 50px;
  }

  .headerTeamName {
    font-size: 1em;
  }

  .dismissBtn {
    height: 16px !important;
    width: 16px !important;
    margin: 0 15px 0 0;
  }

  .subheader {
    padding: 0 20px;
  }

  .tableHeader {
    padding: 0 20px;
  }

  .players {
    padding: 0;
  }

  .playersTitle {
    padding: 0 20px;
  }

  .player {
    height: 45px;
    padding: 0 20px;
    font-size: 0.75em;
  }

  .playerPosition {
    width: 10%;
    padding: 0;
  }

  .playerScore {
    width: 15%;
    padding: 0;
  }

  .playerName {
    width: 45%;
    padding-right: 4px;
  }

  .playerClub {
    width: 32%;
    padding-right: 4px;
  }

  .tableHeaderScore {
    width: 15%;
    padding: 0;
  }

  .tableHeaderPosition {
    width: 10%;
    padding: 0;
  }

  .tableHeaderName {
    width: 45%;
    padding-right: 4px;
  }

  .tableHeaderClub {
    width: 32%;
    padding-right: 4px;
  }
}
