@import '../../../../components/styles/variables.css';

.room {
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: relative;
  padding: 0 40px;
  box-sizing: border-box;
  box-shadow: 0 1px 0 0 #e9e9e9, 0 1px 0 0 #e9e9e9 inset;
}

.roomItem {
  position: relative;
  height: 80px;
  color: #191919;
  font-size: 0.875em;
  line-height: 80px;
}

.roomTitle {
  composes: roomItem;
  width: 19%;
  color: var(--blue-color);
  padding-right: 25px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.roomPrice {
  composes: roomItem;
  width: 9%;
  padding-right: 25px;
  box-sizing: border-box;
  text-align: right;
}

.roomFee {
  composes: roomItem;
  width: 9%;
  padding-right: 20px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}

.roomPosition {
  composes: roomItem;
  width: 12%;
  padding-right: 30px;
  box-sizing: border-box;
  text-align: right;
}

.roomTime {
  composes: roomItem;
  width: 10%;
  text-align: center;
}

.roomControls {
  composes: roomItem;
  width: 11%;
  text-align: right;
}

.roomButton {
  display: inline-block;
  position: relative;
  padding: 15px 50px;
  line-height: normal;
  color: #222;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0 0 0 1px #d1d1d1;
  border-radius: 25px;
  box-sizing: border-box;
  transition: none;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    color: #fff;
    box-shadow: 0 0 0 1px transparent;
    background-image: linear-gradient(-135deg, #ffae00 0%, #ff5400 100%);
  }
}

@media (--small-viewport) {
  .room {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px;
  }

  .roomTitle {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 10px 10px;
    line-height: inherit;
  }

  .roomPrice {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 10px 10px;
    color: #888;
    line-height: inherit;
    text-align: left;
  }

  .roomFee {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 10px 10px;
    color: #888;
    line-height: inherit;
    text-align: left;
  }

  .roomPosition {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 10px 10px;
    color: #888;
    line-height: inherit;
    text-align: left;
  }

  .roomTime {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 10px 10px;
    color: #888;
    line-height: inherit;
    text-align: left;
  }

  .roomControls {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 15px 0 0;
    line-height: inherit;
    text-align: left;
  }

  .roomButton {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
  }
}
