@import '../../../../components/styles/variables.css';

.root {
  position: relative;
  text-align: center;
  line-height: 30px;
  white-space: nowrap;
  border: solid 1px #d1d1d1;
  border-radius: 20px;
  z-index: 1;
  user-select: none;
  transition: all 0.2s ease;

  &:hover {
    border: solid 1px #191919;
    cursor: pointer;

    .dropdownTitle {
      color: #191919;
    }
  }
}

.dropdownIsActive {
  .dropdown {
    display: flex;
  }
}

.matchesContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
}

.dropdown {
  display: none;
  justify-content: center;
  position: absolute;
  left: -200px;
  top: -34%;
  width: 400px;
  background: #fff;
  border: solid 1px #d1d1d1;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease-out;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.dropdownTitle {
  padding: 10px 20px;
  font-size: 0.75em;
  color: #555;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}

.delimer {
  position: relative;
  margin-top: 30px;
  color: #a6a6a6;
}

.team {
  flex: none;
  position: relative;
  width: 50%;
  min-width: 90px;
  padding: 15px 5px;
  color: #a6a6a6;
  font-size: 0.75em;
  text-align: center;
  line-height: 1em;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;

  .teamLogo {
    height: 40px;
    margin-bottom: 10px;
    filter: grayscale(1);
    opacity: 0.4;
    transition: all 0.15s ease-out;
  }

  .teamName {
    width: 100%;
    overflow: hidden;
    white-space: normal;
  }

  &:hover {
    color: #111;
    cursor: pointer;

    .teamLogo {
      filter: grayscale(0);
      opacity: 1;
    }
  }

  &.isActive {
    color: #111;
    font-family: var(--font-family-bold);

    .teamLogo {
      filter: grayscale(0);
      opacity: 1;
    }
  }
}

.teamReset {
  composes: team;
  width: 100%;
  border-bottom: solid 1px #d1d1d1;
}

@media (--small-viewport) {
  .root {
    display: none;
  }
}
