@import '../../../../components/styles/variables.css';

.root {
  position: relative;
}

.content {
  margin: 0 0 40px;
  font-size: 0.875em;
  color: #a6a6a6;
  text-align: center;
  line-height: 1.5em;

  p {
    margin: 0 0 10px;
    padding: 0;
  }
}

.textIsGreen {
  color: var(--green-color);
  font-family: var(--font-family-bold);
}

.textIsBlue {
  color: var(--blue-color);
  font-family: var(--font-family-bold);
}

table {
  width: 100%;
  margin: 35px 0;
  color: #5e5e5e;
  border: #dfdfdf solid 1px;

  thead {
    td {
      padding: 10px 15px;
    }
  }

  tbody {
    td {
      padding: 20px 15px;
    }
  }

  td {
    border: #dfdfdf solid 1px;
  }

  .debit {
    td {
      background-color: #f2f7fc;
    }
  }

  .credit {
    td {
      background-color: #f0f9f3;
    }
  }
}

@media (--small-viewport) {
  .content {
    padding: 0 20px;
    box-sizing: border-box;
  }

  table {
    font-size: 0.875em;

    thead {
      td {
        padding: 5px;
      }
    }

    tbody {
      td {
        padding: 3px;
      }
    }
  }
}
