@import '../../../../components/styles/variables.css';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 30px 0;

  &::after {
    content: '';
    position: absolute;
    left: 40px;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: #e1e1e1;
  }
}

.title {
  position: relative;
  margin-bottom: 15px;
  font-size: 1.25em;
  font-family: var(--font-family-bold);
  text-align: center;
  text-transform: uppercase;
}

.user {
  position: relative;
  width: 235px;
  height: 122px;
  background: url('/images/win.svg') no-repeat center center;
}

.username {
  position: absolute;
  left: 0;
  bottom: 13px;
  width: 100%;
  padding: 0 25px;
  box-sizing: border-box;
  color: #fe961b;
  font-family: var(--font-family-bold);
  font-size: 0.75em;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 235px;
  margin: 15px;
  font-size: 0.75em;
  text-transform: uppercase;
}

.labelShape {
  position: relative;
  height: 2px;
  width: 50px;
  background-color: #fe961b;
}

.prize {
  color: #fe961b;
  font-family: var(--font-family-bold);
  font-size: 1.875em;
}
