<!-- Footer -->

<footer class="footer" id="footer">

	<address class="owner"> © TotalDraft </address>

	<img src="images/mastercard.svg">
	<img src="images/maestro.svg">
	<img src="images/visa.svg" class="getSmaller">

	<nav class="navigation">
		<a href=""> Условия использования </a>
		<a href=""> Условия безопасности данных </a>
		<a href=""> Контакты </a>
	</nav>

</footer>

<!-- Footer end -->