@import '../styles/variables.css';
@import '../styles/elements.css';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #111;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('/images/login_background.jpg') no-repeat center center, #111;
  background-size: cover;
  transition: transform 20s linear;
  transform: translateZ(0);
}

.backgroundScaling {
  transform: scale(1.3) translateZ(0);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.closebtn {
  position: absolute;
  top: 22px;
  right: 40px;
  color: #a6a6a6;
  font-size: 0.75em;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 9;

  &:hover {
    color: #fff;
  }

  div {
    display: inline-block;
    vertical-align: middle;
    margin: -3px 7px 0 0;
    color: #fff;
    font-size: 2.25em;
    line-height: 0;
  }
}

.content {
  position: relative;
  width: 100%;
  height: auto;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  color: #a6a6a6;
  text-align: center;
  text-transform: uppercase;
}

.subtitleLabel {
  margin: 0 35px;
  color: #414043;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease-out;

  &:hover {
    color: #fff;
  }
}

.subtitleLabelIsActive {
  color: #fff;
  font-family: var(--font-family-bold);
  cursor: default;
}

/* FORM */

.form {
  position: relative;

  .formLabel {
    margin: 0 35px;
    color: #414043;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    transition: all 0.1s ease-out;

    &:hover {
      color: #fff;
    }
  }

  .formLabelIsActive {
    color: #fff;
    font-family: var(--font-family-bold);
    cursor: default;
  }
}

.formWrapper {
  display: none;
}

.formWrapperIsActive {
  display: flex;
  justify-content: center;
}

.formSection {
  position: relative;
  margin: 0 0 20px;

  input {
    width: 320px;
    color: #fff;
    background-color: transparent;
    border: solid 1px #414043;
    transition: border 0.2s ease-out;

    &:focus {
      border-color: #fff;
    }
  }

  .inputIsError {
    border: solid 1px red !important;
  }
}

.formSectionButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 40px;
}

.errorMessage {
  display: flex;
  align-items: center;
  position: absolute;
  left: 105%;
  top: 0;
  width: 150px;
  height: 100%;
  color: #fff;
  font-size: 0.75em;
  line-height: 1.5em;
  transition: opacity 0.1s ease-in;
  opacity: 0;
}

.errorMessageIsActive {
  opacity: 1;
}

.fullFormErrorMessage {
  composes: errorMessage;
  top: 60px;
  height: 135px;
}

.button {
  composes: baseBtn;
  width: 170px;
  color: #777;
  text-align: center;
  border: solid 1px #666;
  background-color: transparent;
  pointer-events: none;
}

.buttonIsCentered {
  composes: button;
  width: auto;
  margin: 25px auto 10px;
}

.buttonIsActive {
  pointer-events: all;
  color: #fff;
  border-color: #fff;
  background-color: none;
}

.link {
  display: inline-block;
  color: #a6a6a6;
  transition: all 0.1s ease-out;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: #fff;
  }
}

.registrationCheckbox {
  width: 320px;

  label {
    white-space: nowrap;
    font-size: 0.75em;
  }
}

.refCodeLink {
  display: inline-block;
  color: #a6a6a6;
  font-size: 0.75em;
  border-bottom: 1px solid #a6a6a6;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: #fff;
    border-bottom: 1px solid transparent;
  }
}

.note {
  position: relative;
  width: 320px;
  color: #ccc;
  text-align: center;
  font-size: 0.875em;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  color: #a6a6a6;
  text-align: center;
  text-transform: uppercase;
}

@media (--small-viewport) {
  .root {
    height: 100%;
    bottom: auto;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .content {
    margin: 60px 0 0;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .subtitle {
    margin: 0 0 15px;
  }

  .subtitleLabel {
    margin: 0 15px;
  }

  .formSection {
    input {
      width: 100%;
      padding: 15px;
      font-size: 16px;
    }
  }

  .formSectionButtons {
    margin: 0;
  }

  .formWrapperIsActive {
    flex-direction: column-reverse;
  }

  .backgroundScaling {
    transform: none;
    transition: none;
  }

  .button {
    width: auto;
    margin: 0;
    padding: 0 40px;
    height: 40px;
    line-height: 40px;
    font-size: 0.875em;
  }

  .buttonIsCentered {
    margin: 0 auto;
  }

  .link {
    font-size: 0.875em;
  }

  .closebtn {
    top: 15px;
    right: 15px;

    label {
      display: none;
    }
  }

  .note {
    width: 100%;
    margin: 0 0 15px;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .errorMessage {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    margin: 5px 0 0;
  }

  .fullFormErrorMessage {
    display: none;
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    width: 100%;
  }
}
