<!-- Tutorial -->
<section class="tutorial">

	<aside class="icons" role="presentation">

		<div class="icon"> {{> tutotialBgIcon }} </div>

		<div class="slideBg selectTornament"> </div>
		<div class="slideBg assembleTeam"> </div>
		<div class="slideBg getPoints"> </div>
		<div class="slideBg goToLeaders"> </div>

	</aside>

	<div class="progressLine" role="presentation">
		<div class="progressStep">
			<div class="indicator active"> </div>
			<span class="slideNumber"> 1 </span> 
		</div>
		<div class="progressStep">
			<div class="indicator"> </div>
			<span class="slideNumber"> 2 </span> 
		</div>
		<div class="progressStep">
			<div class="indicator"> </div>
			<span class="slideNumber"> 3 </span> 
		</div>
		<div class="progressStep">
			<div class="indicator"> </div>
			<span class="slideNumber"> 4 </span> 
		</div>
	</div>

	<aside class="track">

		<article class="slideContent">

			<h3 class="mainTitle"> Как это работает? </h3>

			<div class="sliderNumber"> 1 </div>

			<h4 class="slideTitle"> Выберите футбольный турнир </h4>

			<div class="trackLine"> </div>

			<div class="scrollIcon" aria-label="scroll page for reading tutorial"> </div>

		</article>

		<article class="slideContent">

			<div class="trackLine upArrow"> </div>

			<div class="sliderNumber"> 2 </div>

			<h4 class="slideTitle"> Соберите сборную из реальных игроков </h4>

			<div class="trackLine downArrow"> </div>

		</article>

		<article class="slideContent">

			<div class="trackLine upArrow"> </div>
			
			<div class="sliderNumber"> 3 </div>

			<h4 class="slideTitle"> Получите очки за полезные действия  футболистов </h4>

			<div class="trackLine downArrow"> </div>
			
		</article>

		<article class="slideContent">

			<div class="trackLine upArrow"> </div>
			
			<div class="sliderNumber"> 4 </div>

			<h4 class="slideTitle"> Окажитесь в лидерах, получите денежный приз </h4>

			<button class="select"> Выбрать турнир </button>
			
		</article>

	</aside>

	<button class="close" aria-label="close or press esc"> </button>

</section>
<!-- Tutorial end -->