<!-- Header -->

<header class="header">

	<a class="logoWrapper" href="">

		{{> logo }}

		<h3 class="logoTitle"> Тотал драфт </h3>

	</a>

	<a class="lobby" href=""> Лобби </a>

	<a class="enter" href=""> Вход </a>

</header>

<!-- Header end -->