@import '../../../../components/styles/variables.css';

.background {
  flex-grow: 1;
  flex-shrink: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
  opacity: 0.15;
}

.root {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  position: relative;
  width: 20.3125%;
  background-color: #191919;
}

.header {
  flex-shrink: 0;
  position: relative;
  height: 100px;
  padding: 25px 30px;
  box-sizing: border-box;
  color: #fff;
  background-image: linear-gradient(-135deg, rgb(255, 174, 0) 0%, rgb(255, 84, 0) 100%);
}

.headerTitle {
  position: relative;
  margin-bottom: 10px;
  color: #fff;
  font-size: 1.125em;
  text-transform: uppercase;
}

.headerShapes {
  position: relative;

  img {
    height: 12px;
    margin-right: 15px;
  }
}

.rooms {
  position: relative;
  overflow-y: auto;
}

.room {
  display: block;
  position: relative;
  padding: 20px;
  color: #fff;
  font-family: var(--font-family-bold);
  border-bottom: #ffae00 solid 1px;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.isDisabled {
  pointer-events: none;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .disableMessage {
    display: block;
  }
}

.roomTitle {
  color: #fff;
  position: relative;
  margin-bottom: 10px;
}

.roomPrize {
  color: #fff;
  position: relative;
  margin-bottom: 60px;

  .prizeIcon {
    margin: -2px 4px 0 0;
  }
}

.disableMessage {
  display: none;
  margin: 0 0 15px;
  font-size: 0.875em;
  font-family: var(--font-family-base);
}

.roomDate {
  position: relative;
  font-size: 0.75em;
  color: #ffae00;

  .startIcon {
    margin: -2px 10px 0 0;

    g circle,
    g polyline {
      stroke: #ffae00;
    }
  }
}

@media (--small-viewport) {
  .root {
    display: none;
  }
}
