@import '../../../../components/styles/variables.css';

.root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 19px;
  /*padding-left: 10px;*/
  margin: 20px 20px 20px 30px;
  user-select: none;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
}

.item {
  display: block;
  position: relative;
  max-width: 120px;
  margin-right: 15px;
  font-size: 0.625em;
  color: #aaa;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.2s ease-out;
  cursor: pointer;
  border-bottom: transparent solid 1px;

  &:hover {
    color: #111;
  }

  &:first-child {
    text-overflow: inherit;
  }
}

.itemIsActive {
  composes: item;
  color: #111;
  font-family: var(--font-family-bold);
  border-bottom-color: #111;
}

.fullPositions {
  composes: wrapper;
}

.shortPositions {
  composes: wrapper;
  display: none;
}

@media (--small-viewport) {
  .root {
    margin: 0 20px 10px;
    padding: 0;
  }

  .item {
    font-size: 0.75em;
  }

  .shortPositions {
    display: flex;
  }

  .fullPositions {
    display: none;
  }
}
