<!-- Init screen -->

<section class="initScreen">

	<article class="textBlock">

		<h2 class="textTitle">
			Когда есть фэнтези футбол,
			Просто смотреть <br>
			уже недостаточно
		</h2>

		<p class="textDescription">
			Собирай виртуальные футбольные команды во время
			настоящих турниров, и выигрывай денежные призы 
		</p>

		<button class="howToButton"> Как играть </button>

	</article>

	<div class="parallax">

		<div class="bg"> </div>
		<div class="player-1"> </div>
		<div class="player-2"> </div>
		<div class="ball"> </div>
		<div class="bg-players"> </div>

	</div>

	<div class="scrollIcon"></div>
	
</section>

<!-- Init screen end -->