@import '../styles/variables.css';
@import '../styles/elements.css';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: calc(100vh - 60px);
  background: #111;
  color: #fff;
}

.form {
  position: relative;
  width: 320px;
}

.section {
  position: relative;
  margin: 0 0 20px;

  input {
    width: 320px;
    color: #fff;
    background-color: transparent;
    border: solid 1px #414043;
    transition: border 0.2s ease-out;

    &:focus {
      border-color: #fff;
    }
  }
}

.sectionButtons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.button {
  composes: baseBtn;
  width: 220px;
  margin: 0;
  color: #777;
  text-align: center;
  border: solid 1px #666;
  pointer-events: none;
}

.buttonIsActive {
  pointer-events: all;
  color: #fff;
  border-color: #fff;
  background-color: none;
}
