<!-- Init slider -->

<section class="initSlider" id="initSlider">

	<aside class="sliderPicture">
		
		{{> initSliderBg }}

	</aside>

	<aside class="sliderContent">

		<h3 class="contentTitle"> Это просто </h3>

		<section class="sliderDescriptions">

			<article class="descriptionBlock">

				<h4 class="descriptionTitle"> Играй без взноса </h4>

				<p class="description">
					Начни с фрироллов - турниров, которые 
					не требуют вложений, но разыгрывают
					реальные деньги.
				</p>

			</article>

			<article class="descriptionBlock">

				<h4 class="descriptionTitle"> Опыт не имеет значения </h4>

				<p class="description">
					Твои знания о футболе, аналитические 
					способности и немного удачи - вот формула 
					успешной игры.
				</p>

			</article>

		</section>

		<footer class="sliderControls" id="sliderControls">
			<div class='sliderControl'> </div>
			<div class='sliderControl'> </div>
		</footer>
		
	</aside>

</section>

<!-- Init slider end -->