@import '../../styles/variables.css';
@import '../../styles/elements.css';

.root {
  input {
    width: 250px;
    color: #222;
    font-size: 0.875em;
    background-color: #fff;
    border: solid 1px #a6a6a6;
    box-sizing: border-box;

    &:hover {
      border: solid 1px #111;
    }

    &:focus {
      border: solid 1px #111;
    }
  }
}

.btn {
  composes: baseBtn;
  color: #a6a6a6;
  text-align: center;

  &:hover {
    color: #fff;
    background-color: var(--blue-color);
    border: var(--blue-color) solid 1px;
  }
}

.btnSubmit {
  composes: baseBtn;
  margin-right: 40px;
  color: var(--blue-color);
  border: var(--blue-color) solid 1px;

  &:hover {
    color: #fff;
    background-color: var(--blue-color);
  }
}

.formSection {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.formSectionButtons {
  composes: formSection;
  justify-content: center;
}

.formCheckbox {
  width: 250px;
}

.termsCheckbox {
  a {
    color: #111;
    border-bottom: #111 solid 1px;

    &:hover {
      border-bottom: transparent solid 1px;
    }
  }
}

.note {
  position: relative;
  margin-bottom: 30px;
  color: #111;
  text-align: center;
  font-size: 0.875em;
  line-height: 1.5em;
  user-select: none;
}

@media (--small-viewport) {
  .btnSubmit {
    margin: 0 10px 0 0;
  }

  .baseBtn {
    height: 45px;
    margin: 0 10px;
    padding: 15px 20px;
    line-height: initial;
  }
}
