@import '../../../../components/styles/variables.css';

.root {
  display: none;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  padding: 0 15px;
  margin: 0;
  color: #fff;
  list-style: none;
  box-sizing: border-box;
  z-index: 10;
}

.item {
  margin: 0 15px 0 0;
  flex: none;
  display: flex;
  align-items: center;
  height: 40px;
  color: #ccc;
  font-size: 0.825em;
  white-space: nowrap;
  text-transform: uppercase;
}

.itemIsActive {
  color: #fff;
  font-family: var(--font-family-bold);
}

@media (--small-viewport) {
  .root {
    display: flex;
  }
}
