@import '../../../../components/styles/variables.css';

.root {
  position: absolute;
  height: 110px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transform: translate3d(0, 100px, 0);
  transition: all 0.2s ease-out;
  z-index: 10;

  &:hover {
    transform: translate3d(0, 0, 0);
  }
}

.isActive {
  transform: translate3d(0, 0, 0);
}

.progress {
  position: relative;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.complection {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #0069ea;
  background: -moz-linear-gradient(top, #0069ea 0%, #002fdb 98%);
  background: -webkit-linear-gradient(top, #0069ea 0%, #002fdb 98%);
  background: linear-gradient(to bottom, #0069ea 0%, #002fdb 98%);
  transition: all 0.25s ease-out;
}

.guide {
  display: flex;
  align-items: stretch;
  position: relative;
  height: 100px;
  background-color: #f9f9f9;
  z-index: 10;
}

.guideItem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 1;
  height: 100%;
  padding: 0 25px;
  color: #191919;
  font-size: 0.875em;
  box-sizing: border-box;
  user-select: none;

  &:nth-child(odd) {
    background-color: #f3f3f3;
  }

  img {
    flex: none;
    height: 50px;
    margin-right: 20px;
  }
}

.guideItemText {
  max-width: 220px;

  strong {
    font-weight: normal;
    font-family: var(--font-family-bold);
    white-space: nowrap;
  }
}

@media (--small-viewport) {
  .root {
    height: 80px;
    transform: translate3d(0, 75px, 0);
  }

  .isActive {
    transform: translate3d(0, 75px, 0);
  }

  .guide {
    height: 70px;
  }

  .progress {
    height: 5px;
  }

  .guideItem {
    padding: 0 10px;

    img {
      display: none;
      height: 20px;
      margin: 0 10px 0 0;
    }
  }

  .guideItemText {
    font-size: 0.75em;
  }
}
