/***** Variables *****/

// Layout
$main-indent: 40px;

// Typography
$big-title: 26px;

$font-normal: ProximaNova-regular;
$font-bold: ProximaNova-Bold;
$font-light: ProximaNova-Light; 

// Colors
$basic-color: white;
$secondary-color: #a4a4a4;

$elements-color: #fead00;
$inactive-color: #594313;

/***** Variables end *****/