<!-- Tournament list -->

<section class="tournamentList">

	<aside class="introduction">

		{{> logo }}

		<button class="goBack" title="go back"> </button>

		<div id="introText">

			<h2 class="title"> С чего начать? </h2>

			<p class="description">
				Что бы приступить к сбору вашей команды, <br>
				выберите один из текущих турниров:
			</p>

		</div>

	</aside>

	<aside class="list">

	  <a href="#" class="tournament">
			<img src="images/icon.png" class="tournamentIcon">
	  	<h6> Английская премьер лига </h6>
	  </a>

	  <a href="#" class="tournament">
			<img src="images/icon.png" class="tournamentIcon">
	  	<h6> Английская премьер лига </h6>
	  </a>

	  <a href="#" class="tournament">
			<img src="images/icon.png" class="tournamentIcon">
	  	<h6> Английская премьер лига </h6>
	  </a>

	  <a href="#" class="tournament">
			<img src="images/icon.png" class="tournamentIcon">
	  	<h6> Английская премьер лига </h6>
	  </a>

	  <a href="#" class="tournament">
			<img src="images/icon.png" class="tournamentIcon">
	  	<h6> Английская премьер лига </h6>
	  </a>

	  <a href="#" class="tournament">
			<img src="images/icon.png" class="tournamentIcon">
	  	<h6> Английская премьер лига </h6>
	  </a>

	  <a href="#" class="tournament">
			<img src="images/icon.png" class="tournamentIcon">
	  	<h6> Английская премьер лига </h6>
	  </a>

	  <a href="#" class="tournament">
			<img src="images/icon.png" class="tournamentIcon">
	  	<h6> Английская премьер лига </h6>
	  </a>

	  <a href="#" class="tournament">
			<img src="images/icon.png" class="tournamentIcon">
	  	<h6> Английская премьер лига </h6>
	  </a>

	  <a href="#" class="tournament">
			<img src="images/icon.png" class="tournamentIcon">
	  	<h6> Английская премьер лига </h6>
	  </a>

	  {{> tournament }}

	</aside>

	<button class="closeTournaments" title="close or press esc"> </button>

</section>

<!-- Tournament list end -->

