@import '../styles/variables.css';

.subheader {
  padding: 15px;
  color: #111 !important;
  font-family: var(--font-family-bold);
  text-transform: uppercase;
}

table {
  border-spacing: 0;
  border-collapse: collapse;

  tr.onHover {
    &:hover {
      td {
        background: #f3f3f3;
      }
    }
  }

  td {
    padding: 15px;
    text-align: center;
    border: #e8e8e8 solid 1px;

    &:first-child {
      text-align: left;
    }
  }
}
